    <div id="field">
    <div id="player">Spieler %(player_id)s</div>
    <a style="float:right;" href="#" class="button" onclick="visualHint();"><img src="/static/eye.png" width="27" height="23"/></a>
    <a style="float:right;" href="#" class="button" onclick="resetCodes();">Befehle l&ouml;schen</a>

     %(code_table)s
     
     %(tempo_control)s

    <script type="text/javascript">
    populateOpcodeTable();
    </script>
    
    <div id='timeOut'>
    <p>Verbindung zum Server ist unterbrochen &hellip;</p>
    <p style="margin-top: 30px;"><a class="button" href="/">Zur&uuml;ck zum Start</a></p>
    </div>