    <script type="text/javascript">
      var ID = '%(controller_id)s';
      var playerNo = %(player_id)s;
      var code = %(code_array)s;
      
      var CODESIZE = %(codesize)s;
      var NUMCODES = %(numcodes)s;
      var NUMTEMPOS = %(numtempos)s;

      // preloading images
      for (var i = 0; i < 10; i++) {
              image = new Image();
              image.src = "/static/opcodes_" + i + ".png";
      }
      var opclickTempo = new Image();
      opclickTempo.src = "/static/opclick.png";
      
    </script>
    <script type = "text/javascript" src="/static/jquery.js"></script>
    <script type = "text/javascript" src="/static/json.js"></script>
    <script type = "text/javascript" src="/static/alj.js"></script>
    <style type ="text/css">
      #player {
      background-color: #%(player_color)s;
      }
    </style>
    <script type="text/javascript">
    pingServer();
    </script>