html {
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #111111;
	font-size: 20px;
}

body {
	margin:0px;
	padding:0px;
}

h1 {
	font-size: 24px;
}

img {
	cursor:pointer;
}

img.not {
	cursor: default !important;
}


div#main {
	margin-left: auto;
	margin-right: auto;
	width: 480px;
	height: 600px;
	border: 2px solid #666666;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #222222;
	background-image: url('background.png');
	background-repeat: repeat-x;
	text-align:center;
}

div#field {
	margin-left: auto;
	margin-right: auto;
	width: 420px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.button, #player, div#waitBox {
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#player, div#waitBox {
	float: left;
	font-weight: bold;
	color: black;
}

div#waitBox {
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    width: 100px;
    margin-left:90px;
    margin-right:90px;
    margin-top:180px;
}

.button {
	background-color: #DDDDDD;
	background-image: url('buttonShading.png');
	background-repeat: repeat-x;
	text-align: center;
	margin-right: 5px;
}

.button:hover {
	background-color: #BBBBBB;
	text-decoration: none;
}

.button:active {
	color: #DDDDDD;
	background-color: #444444;
}

.tempo {
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	padding: 7px;
	margin-right: -5px;
}

.on {
    background-color: #777777;
    
}
.on:hover {
    background-color: #777777;
}

.first {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.last {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

#tempoControl {
    margin-top: 18px;
    font-weight: bold;
}

#timeOut, #help {
    background-color: #000000;
    border: 2px solid white;
    display: none;
}

#timeOut {
    position: relative;
    top: -380px;
    padding-top: 35px;
    padding-bottom: 35px;
}

#help {
    position: relative;
    top: -590px;
    left: -30px;
    width: 460px;
    height: 575px;
    padding: 10px;
    margin: 0px;
}

#help table {
    background-color: #222222;
    border-spacing: 0px;
}

#help table td {
    border: 2px solid black;
    padding: 4px;
    margin: 0px;
}

#help table td.code {
    background-color: #000000;
}

#help table td.text {
    padding-left: 10px;
    padding-right: 10px;

}

p.descr {
    text-align: left;
    font-size: 80%;
}

div.topSpaceDummy {
	width: 2px;
	height: 8px;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
}

div.bottomSpaceDummy {
	width: 2px;
	height: 12px;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
}