html {
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #111111;
	font-size: 20px;
}

body {
	margin:0px;
	padding:0px;
}

h1 {
	font-size: 24px;
}

img {
	cursor:pointer;
}

img.not {
	cursor: default !important;
}

div#main {
	margin-left: auto;
	margin-right: auto;
	width: 480px;
	height: 600px;
	border: 2px solid #666666;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #222222;
	background-image: url('background.png');
	background-repeat: repeat-x;
	text-align:center;
}

div#field {
	margin-left: auto;
	margin-right: auto;
	width: 420px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.button, #player {
	padding:10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#player {
	float: left;
	font-weight: bold;
	color: black;
}

.button {
	background-color: #DDDDDD;
	background-image: url('buttonShading.png');
	background-repeat: repeat-x;
	margin-right: 5px;
	text-align: center;
}

.button:hover {
	background-color: #BBBBBB;
	text-decoration: none;
}

.button:active {
	color: #DDDDDD;
	background-color: #444444;
}

.on {
    background-color: #FF5555;
    
}
.on:hover {
    background-color: #FF5555;
}

#tempoControl {
    margin-top: 18px;
}

#timeOut {
    position: relative;
    top: -380px;
    background-color: #000000;
    padding-top: 35px;
    padding-bottom: 35px;
    border: 2px solid white;
    display: none;
}

div.topSpaceDummy {
	width: 2px;
	height: 8px;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
}

div.bottomSpaceDummy {
	width: 2px;
	height: 12px;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
}