html {
      color:#000000;
      font-family:Arial, Helvetica, sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


a.button {
	padding:8px;
	border: 1px solid #AAAAAA;
	background-color: #DDDDDD;
	-webkit-border-radius: 5px;
}

a.button:hover {
	background-color: #BBBBBB;
	text-decoration: none;
}

a.button:active {
	color: #DDDDDD;
	background-color: #444444;
}